SDLEngineProject/.vs/SDLEngineProject/v15/Browse.VC.db
SDLEngineProject/.vs/SDLEngineProject/v15/Browse.VC.opendb
SDLEngineProject/.vs/SDLEngineProject/v15/ipch/SDLENGINEPROJECT-e6d39d9/SDLENGINEPROJECT-f4a8eebc.ipch
SDLEngineProject/SDLEngineProject/Debug/
